/*second fill color #F5F4FA*/
/* hero, footer fill color #2F303A */
/* font Roboto 400,500,700,900 */
/* font Raleway 700 */
/* font-family: 'Raleway', sans-serif;
   'Roboto', sans-serif; */
:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Header */
.header {
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/* Webstudio logo */

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* Footer Studio logo*/
.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: #2196f3;
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: #2196f3;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* .header-nav > li .link:active { */
/* color: #2196f3; */
/* } */

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-box {
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* Hero button */
.button-text {
  background-color: #757575;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.button-text:hover,
.button-text:focus {
  background-color: #2196f3;
}

/* Features section */

.features-list {
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Features images */
.cards {
}
.cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Team section */
.link {
  color: #757575;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list {
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}
/* Footer Contacts */
.contacts {
}
.contacts-box {
  background-color: #2f303a;
}

.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo {
}
.web {
}
/* Portfolio page */
/* Projects section */
.menu {
}
.menu-list {
}
.menu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button {
  background-color: #f5f4fa;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.projects {
}
.projects-list {
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}
